<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>About Us | <%= process.env.APP_NAME || "Loosh" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="<%= process.env.APP_URL  %>/images/favicon.ico"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <style>
      body,
      html {
        font-family: 'Inter', sans-serif;
      }
      a {
        color: #dd6b63;
      }
      .container h1,
      .container h4 {
        font-weight: bold;
        color: #dd6b63;
      }
      .display {
        font-family: 'Playfair', serif;
        font-weight: 600;
      }
    </style>
  </head>

  <body>
    <div class="container my-4">
      <h1 class="text-center display">About Us</h1>
      <p class="mt-5">
        THE IDEA: As previous university competitors working in the back
        universe of New York City, we found that taking our customers to
        boutique wellness classes made a bond among the gathering that was
        unimaginable in the typical going out on the town setting.
      </p>
      <p>
        Not exclusively did this fellowship help us to remember our long periods
        of group activities, yet we realized it could positively affect people
        and gatherings alike.
      </p>
      <p>
        We realized this impact would be amplified in a genuine group-based
        condition, so we transformed this idea into a wellness encounter for
        individuals hoping to accomplish the greatest outcomes, effectively,
        while interfacing with others and having a fabulous time.
      </p>
      <p>
        THE PEOPLE: Three Long Island locals, we’re deep-rooted companions who
        collaborated to begin this business together.
      </p>
      <p>
        As Founders, we will probably move the focal point of wellness from “me”
        to “we” by utilizing the group-based exercise to saddle the inspiration,
        network, and responsibility that improve for an affair.
      </p>
    </div>
  </body>
</html>
